body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}

/* main style */

.main {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    background-color: #fff;
    padding: 105px 90px;
    padding-right: 217px;
}

/* about styles */

.about {
    margin-bottom: 40px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; 
    color: #000000; 
    margin-bottom: 20px;
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
    
}


.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

}

.project,
.project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #595959;
}

.project-link {
    margin-left: 10px;
}

.project-brecket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

}


.title {
    ont-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
        
}


.projects-list {
    padding: 0%;
    margin-left: 15px;
}




/* projects style */

.Projects {
    margin-bottom: 50px;
   
}

/* work style */

.work {
    width: 525px;
    margin-bottom: 50px;
   
}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list {
    padding: 0%;
    margin-left: 15px;
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    
}


/* education style */

.education {
    margin-bottom: 107px;
}

.education-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    padding: 0%;

}

.educaction-mg {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000; 
    
}



/* sidebar style */

.sidebar {
    background-color: #1e2939;
    padding-top: 40px;
    width: 370px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

.sidebar-title {
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10pxs;
}

.contacts,
.tech-skills,
.soft-skills  {
    margin-left: 40px;
}

.contact-style {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF; 
    
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-left: 7px;
}

.tech-skills {
    margin-bottom: 45px;
} 

.contacts {
    margin-bottom: 50px;
}

.tech-skills-list {
    color: #fff;
    padding: 0;
    margin-left: 20px;
}

.tech-skills-item {
    color: #FB6D3A;
}

.tech-skills-text {
    color: #fff;
}
